.organizer-profile {
  text-align: center;
  margin-top: 20px;
}

.add-event-button {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.add-event-button:hover {
  background-color: #cc7a00;
}
